body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax{
    background: url("himal1.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.parallax1{
    background: url("himal2.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body{
    margin: 0;
}

body nav ul{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 63px;
    display: absolute;  
    /*should be different background color*/
    /*Problem in z-indexing*/

    
}

div.middle{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li a img{
    height: 60px;
}

ul div.logo{
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: -1;
}

ul li{ 
    display: inline-block;
}

.middle li{
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
}

ul li a{
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
}

ul li a:hover{
    color: #BD955A;
}

#ham1{
    display: none;
}


.block{
    width: 100%;
    background : #646469;
    height: 550px;
}

.block p{margin: 0;
padding: 10px;}









@media only screen and (max-width: 810px){
    .different.media-change{
       display: none;
    }

    ul li{
        display: block;
    }
    
    ul div.logo{
        text-align: center;
    }

    li#ham1{
    display: flex;
       float: right;
       width: 39px;
    }
    
    div.middle{
        display: inline-block;

    }


}



