body, html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

.parallax{
    background: url("assets/himal1.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.parallax1{
    background: url("assets/himal2.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body{
    margin: 0;
}

/* body part */
.block1{
    width: 100%;
    background : #646469;
    
}

.block1 p{margin: 0;
padding: 10px;}

/*body part ends*/

.navie{
    background: linear-gradient(90deg, rgba(189,149,90,1) 10%, rgba(128,0,41,0.8) 22%);

}

.content-center{
    justify-content: center;
}

img.log{
    height: 60px;
}

nav.navbar-light .navbar-nav .nav-link {
    font-family: 'Oswald', sans-serif;
    color: white;
    width: 110px;
    text-align: center;
    height: 100%;
}

.navbar-nav{
    align-items: center;
}
/* 
@media (max-width:991px){
    .log{
        margin-left: 50%;
    }
} */
.navbar-light .navbar-toggler{
    color: white !important;
    border-color: white !important;
}

.navbar{
    position: fixed !important;
    width: 100%;
}